*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  padding: 20px 0px;
  background: black;
}
#banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  #bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  #female-character, #headline1, #headline2, #subheadline, #learn-more-btn, #logo {
    position: absolute;
    /* Set initial positions and visibility */
  }
  
  #replay-btn {
    /* Set initial visibility */
  }
  